<h1 align="center">
    Desafio Python - Semana 6
</h1>

<ol>
    <li>Ler Json de entrada do object storageCriar 3 funções diferentes que mostrem as entradas ordenadas por:
        <ul>
            Data:
        </ul>
        <ul>
            Nome:
        </ul>
        <ul>
            Valor:
        </ul>
    </li>
    <li>
        Dada uma entrada CSV do object storageCriar uma função mostre o conteúdo do CSV sem repetições em ordem alfabética.
    </li>
    <li>
        Criar um programa que receba a entrada do usuário, pedindo a(s) resposta(s) para a função: $x^2 + 2x - 20$ e envie a mensagem “Parabéns” caso o usuário tenha acertado, caso contrário envie “Essa não é bem a resposta correta, a resposta correta é: 'respostas'”
    </li>       
</ol>

<h2 align ="center">
    Exercício 1: Solução
</h2>

In [1]:
#importar as bibliotecas
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

In [2]:
#método de chamada do arquivo json 
def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_5674bccbeab24371974157eb47995530 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='MNzfhfJqGUG8G2EykcnDtOBwo2byZjsetxrddGXdK05_',
    ibm_auth_endpoint="https://iam.ng.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_5674bccbeab24371974157eb47995530.get_object(Bucket='csvjson-donotdelete-pr-nqyez0mm6zy91z',Key='data.json')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object 

if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

# Since JSON data can be semi-structured and contain additional metadata, it is possible that you might face an error during data loading.
# Please read the documentation of 'pandas.read_json()' and 'pandas.io.json.json_normalize' to learn more about the possibilities to adjust the data loading.
# pandas documentation: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
# and http://pandas.pydata.org/pandas-docs/stable/generated/pandas.io.json.json_normalize.html

# df_data_1 = pd.read_json(body, orient='values')
# df_data_1.head()

In [3]:
#criação do dataframe
df_json = pd.read_json(body, orient='values')

In [4]:
#criação da função para ordenar o dataframe por data em ordem crescente
def data(df):
    return df.sort_values(['date'], ascending=True)

In [5]:
#criação da função para ordenar o dataframe por nome em ordem crescente
def nome(df):
    return df.sort_values(['name'], ascending=True)

In [6]:
#criação da função para ordenar o dataframe por valor em ordem crescente
def valor(df):
    return df.sort_values(['value'], ascending=True)

In [7]:
#Chamada da função para exibir a data
data(df_json)

         date         name  value
16 2018-11-23       Culver  68.38
15 2018-11-24        Xenia  43.61
0  2018-12-12       Kimble  93.28
10 2019-01-13     Kristine  26.09
24 2019-01-27   Christabel  73.09
13 2019-02-03     Claudine  26.28
8  2019-02-14        Graig  79.75
1  2019-03-08       Alanna  10.51
5  2019-03-21         Isac   5.21
4  2019-03-23        Pedro  98.77
14 2019-04-07      Honoria  93.40
6  2019-04-10        Gayla  40.03
20 2019-04-11      Jackson  53.92
17 2019-05-14       Paddie  99.52
23 2019-05-25         Jack  87.38
22 2019-06-18     Christie  83.61
3  2019-07-28       Rustin  47.94
19 2019-08-02        Tadio   4.40
18 2019-08-17         Livy  51.81
12 2019-08-21         Teri  22.17
2  2019-10-09          Jay  29.41
11 2019-10-10      Brenden  41.40
7  2019-10-16      Ransell  80.89
21 2019-10-19        Elise  35.62
9  2019-10-21  Jacquenetta  97.73

In [8]:
#Chamada da função para exibir o nome
nome(df_json)

         date         name  value
1  2019-03-08       Alanna  10.51
11 2019-10-10      Brenden  41.40
24 2019-01-27   Christabel  73.09
22 2019-06-18     Christie  83.61
13 2019-02-03     Claudine  26.28
16 2018-11-23       Culver  68.38
21 2019-10-19        Elise  35.62
6  2019-04-10        Gayla  40.03
8  2019-02-14        Graig  79.75
14 2019-04-07      Honoria  93.40
5  2019-03-21         Isac   5.21
23 2019-05-25         Jack  87.38
20 2019-04-11      Jackson  53.92
9  2019-10-21  Jacquenetta  97.73
2  2019-10-09          Jay  29.41
0  2018-12-12       Kimble  93.28
10 2019-01-13     Kristine  26.09
18 2019-08-17         Livy  51.81
17 2019-05-14       Paddie  99.52
4  2019-03-23        Pedro  98.77
7  2019-10-16      Ransell  80.89
3  2019-07-28       Rustin  47.94
19 2019-08-02        Tadio   4.40
12 2019-08-21         Teri  22.17
15 2018-11-24        Xenia  43.61

In [9]:
#Chamada da função para exibir o valor
valor(df_json)

         date         name  value
19 2019-08-02        Tadio   4.40
5  2019-03-21         Isac   5.21
1  2019-03-08       Alanna  10.51
12 2019-08-21         Teri  22.17
10 2019-01-13     Kristine  26.09
13 2019-02-03     Claudine  26.28
2  2019-10-09          Jay  29.41
21 2019-10-19        Elise  35.62
6  2019-04-10        Gayla  40.03
11 2019-10-10      Brenden  41.40
15 2018-11-24        Xenia  43.61
3  2019-07-28       Rustin  47.94
18 2019-08-17         Livy  51.81
20 2019-04-11      Jackson  53.92
16 2018-11-23       Culver  68.38
24 2019-01-27   Christabel  73.09
8  2019-02-14        Graig  79.75
7  2019-10-16      Ransell  80.89
22 2019-06-18     Christie  83.61
23 2019-05-25         Jack  87.38
0  2018-12-12       Kimble  93.28
14 2019-04-07      Honoria  93.40
9  2019-10-21  Jacquenetta  97.73
4  2019-03-23        Pedro  98.77
17 2019-05-14       Paddie  99.52

<p style = 'color: blue; text-align: center; font-size:20px'>
    Exercício 2: Solução
</p>

In [10]:
#importar as bibliotecas
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

In [11]:
#método de chamada do arquivo csv
body = client_5674bccbeab24371974157eb47995530.get_object(Bucket='csvjson-donotdelete-pr-nqyez0mm6zy91z',Key='data.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_csv = pd.read_csv(body)

In [12]:
#criação da função para gerar o csv
def csv(x):
    x.drop_duplicates(subset=None, keep='first', inplace=False)
    return x.sort_values(['name'])

In [13]:
#chamar a função csv
csv(df_csv)

           name
73     Adrianne
74        Alene
46   Alessandro
20       Alfons
99      Anthony
75        Armin
51      Artemis
41        Berne
90        Bunni
35         Calv
4         Candi
92       Carlyn
67       Caspar
79     Christie
80       Cindie
29     Clarence
12     Clarisse
85         Codi
60  Constantino
84   Cristionna
97        Daffi
21        Daune
13        Druci
22    Ellswerth
34        Elora
62    Fanchette
89        Fanya
5        Farica
59        Gaile
6       Garrard
..          ...
82        Perle
57   Philippine
23       Portia
14      Rafaela
33    Reginauld
11        Reine
72      Reinold
47        Retha
30      Riobard
1      Robinett
0           Rog
58      Rozelle
3        Rutter
53       Shandy
25        Slade
49       Sorcha
2        Stacee
76       Steven
61         Sven
40       Tandie
71       Tanney
48        Tasha
18      Theresa
7         Venus
26        Verne
28        Vevay
52      Whitney
86      William
15        Wolfy
87        Zarah

[100 rows x 1 columns]

<p style = 'color: blue; text-align: center; font-size:20px;'>
    Exercício 3: Solução
</p>

In [14]:
#Criar a função para o cálculo de bhaskara
def bhaskara( a, b):
    #importar a biblioteca de matemática
    import math as mt

    #aplicação do cálculo de bhaskara
    delta = (b ** 2) - (4 * a * c)

    #validar a raiz, para que ela não seja negativa
    if ( delta < 0 ):
        return (None,None) # Raiz Negativa
    
    #realizar os cálculos
    else:
        x = mt.sqrt( delta )
        #arredondar os valores mantendo apenas duas casas decimais
        x1 = round((-b + x) / (2 * a),2)
        x2 = round((-b - x) / (2 * a),2)

    return (x1, x2)

#apresentar o título da chamada para o usuário
print('informe os valores para popular a equação a² + b -20')

#enquanto o tipo da variável for verdadeiro, seguir o fluxo de atividade
while True:
    try:
        #obter o dado inserido pelo usuário
        a = int(input('Digite um valor para A: '))
        break
    #se o valor obtido for diferente do tipo (int), apresentar mensagem de erro
    except:
        print('\nDigite um número inteiro para o valor de A')
        
while True:
    try:
        b = int(input('Digite um valor para B: '))
        break
    except:
        print('\nDigite um número inteiro para o valor de B') 

#definir o valor da variável c 
c = -20
#chamada da função com os parâmetros 
x = bhaskara( a, b)

#enquanto o tipo da variável for verdadeiro, seguir o fluxo de atividade
while True:
    try:
        #obter o dado inserido pelo usuário, arredondando para duas casas decimais, exibindo os valores de A e B e substituindo , por .
        num1 = round(float(input('\nQual o resultado da primeira raiz da equação {}² + {} - 20: '.format(a, b)).replace(',','.')),2)
        break
    except:
        print('\nDigite um número inteiro para o resultado da primeira raiz')   
while True:
    try:
        num2 = round(float(input('\nQual o resultado da segunda raiz da equação {}² + {} - 20: '.format(a, b)).replace(',','.')),2)
        break
    except:
        print('\nDigite um número inteiro para o resultado da primeira raiz') 

#exibir a resposta enviada pelo usuário, onde, caso os valores estejam corretos, exibir a parabenização
#caso o valor esteja incorreto, apresentar a resposta correta
if ((num1 == x[0]) & (num2 == x[1])):
    print('\nParabéns, você acertou')
else:
    print('\nEssa não é bem a resposta correta, o correto é: X1 = {}'.format(x[0])+' e X2 = {}'.format(x[1]))

informe os valores para popular a equação a² + b -20
Digite um valor para A: 1
Digite um valor para B: 2

Qual o resultado da primeira raiz da equação 1² + 2 - 20: 3

Qual o resultado da segunda raiz da equação 1² + 2 - 20: -5

Essa não é bem a resposta correta, o correto é: X1 = 3.58 e X2 = -5.58